.side
  .side__header
    .side__header__contents
      .side__header__contents__user_name
        seo
      .side__header__contents__create
        = link_to "#", class: "create_btn" do
          = icon('far', 'edit')
        = link_to "#", class: "create_btn" do
          = icon('fas', 'cogs')

  .side__contents
    .side__contents__group
      .side__contents__group_name
        ネコ
      .side__contents__group_newMessage
        まだメッセージがありません